/* global */
@import "./css/global/global.css";
@import "./css/global/header.css";
@import "./css/global/footer.css";
@import "./css/global/aside.css";
@import "./css/global/aside-mobile.css";

/* utilidades */
@import "./css/utilidades/componentes.css";
@import "./css/utilidades/cores.css";
@import "./css/utilidades/tipografia.css";

/* home */
@import "./css/home/intro.css";
@import "./css/home/conversas-card.css";
@import "./css/home/perguntas.css";

/* minha ia */
@import "./css/minha-ia/minha-ia.css";

/* termos */
@import "./css/termos/termos.css";

/* login e registro */
@import "./css/login-e-criar-conta/login.css";
