.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  box-sizing: border-box;
  padding: 40px 80px 0px 80px;
}

/* botao introducao */
.botao {
  padding: 12px 12px;
  display: inline-block;
  background: linear-gradient(#70B8FD, #B480F4);
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  color: var(--cor-0);
  font: 600 1rem/1.35 "Poppins", sans-serif;
  max-width: max-content;
  cursor: pointer;
}

.botao.secundario {
  border: solid 2px #B480F4;
  color: var(--cor-p1);
  background: var(--cor-11);
}

.botao:hover {
  background: linear-gradient(#47a6ff, #a257ff);
}

.botao.secundario:hover {
  background: var(--cor-9);
}

.botao.seta {
  display: flex;
  align-items: center;
}

.botao.seta::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url("../../Img/icones/seta.svg");
  transition: transform 0.2s;
}

.botao.seta:hover::after {
  transform: translateX(4px);
}

@media (max-width: 768px) {
  .botao {
    padding: 6px 6px;
    font-size: 0.7rem;
  }
}

.link {
  display: inline-block;
  color: var(--cor-p1);
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  /* current pega a cor do pai */
  background-color: currentColor;
}

.link:hover {
  color: var(--cor-0);
}

@media (max-width: 768px) {
  .container {
    padding: 40px 20px 0px 20px;
  }
}