.aside-mobile {
  display: none; /* O menu móvel começa oculto */
}

.aside-mobile.active {
  display: block; /* O menu é mostrado quando a classe 'active' é adicionada */
}

/* Esconde o menu mobile por padrão */
.aside-mobile {
  position: fixed;
  top: 0;
  left: -100%; /* Fora da tela */
  padding-top: 150px;
  padding-left: 32px;
  padding-right: 32px;
  width: 60%;
  height: 100vh;
  background: rgb(23, 23, 23);
  border-right: solid 2px var(--cor-9);
  transition: left 0.3s ease-in-out;
  z-index: 5;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/* Exibe o menu quando ativado */
.aside-mobile.active {
  left: 0;
}

/* estilo */
.aside-mobile li{
  border: solid 2px var(--cor-9);
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
}

.aside-mobile li:hover {
  background: rgba(255, 255, 255, 0.199);
}

.aside-mobile li a {
  display: flex;
  align-items: center;
  gap: 12px;
}

.aside-mobile li:hover .icon-aside {
  fill: var(
    --cor-p1
  ); /* Mudando a cor do ícone quando o mouse passar sobre o li */
}

/* fundo transparente */
.transparente {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 40%;
  height: 100%;
  background: transparent;
  backdrop-filter: blur(5px); 
  z-index: 5;
  transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0; /* Começa invisível */
}

.transparente.active {
  right: 0;
  opacity: 1;
}

.transparente.active,
.aside-mobile.active {
  display: block;
}
