.footer-bg {
  border-top: solid 2px var(--cor-9);
  margin-top: 120px;
}

.footer {
  display: grid;
  grid-template-columns: minmax(200px, 300px) 1fr 1fr 1fr;
  gap: 20px;
  padding-top: 40px;
}

.footer h3 {
  margin-bottom: 32px;
}

.footer li {
  margin-bottom: 16px;
}

.footer-redes {
  display: flex;
  gap: 12px;
}

.footer a:hover {
  color: var(--cor-0);
}

.footer-copy {
  grid-column: 1/-1;
  margin-top: 20px;
}

.footer-pagamentos {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

@media (max-width: 768px) {
  .footer-bg {
    border-top: solid 2px var(--cor-9);
    margin-top: 60px;
  }

  .footer > Img {
    display: none;
  }

  .footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1150px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .footer-copy {
    margin-top: 0px;
  }
}
