.header-bg {
  grid-area: header;
  background: var(--cor-11);
  border-bottom: solid 2px var(--cor-9);
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 12;
}

.header {
  padding: 12px 20px;
}

.ativo {
  color: var(--cor-p1); /* Cor roxa para o texto */
}

.ativo .icon {
  fill: var(--cor-p1); /* Cor roxa para o ícone SVG */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu-first {
  display: flex;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.header ul {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.header-menu-first li a {
  display: flex;
  align-items: center;
  gap: 4px;
}

.icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.header-menu-first li:hover .icon {
  fill: var(
    --cor-p1
  ); /* Mudando a cor do ícone quando o mouse passar sobre o li */
}

.header-botoes {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.header-menu-second{
  display: none;
}

.header-menu-second li a {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-logo{
  display: flex; 
  align-items: center;
  gap: 3px;
}

.menu-h{
  display: none;
}


@media (max-width: 900px) {
  .header-menu-second{
    display: block;
    display: flex;
    padding: 12px 0px;
    justify-content: center;
    align-items: center;
  }
  
  .header-menu-second ul{
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .menu-h{
    display: block;
  }

  .header{
    gap: 3px;
  }

  .header-botoes {
    gap: 8px;
  }

  .header-menu-first nav {
    display: none;
  }

  .header {
    padding: 8px 0px;
  }

  .header-menu-first .logo img{
    width: 120px;
  }

  .header {
    padding: 12px 20px;
  }
}
